<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html layout="/header.html" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
       <div>
    <form >
     
        
        <div th:replace="/header.html :: main-menu"></div>
        
    </form>
</div>
        <div layout:fragment="body">
    <!--    nội dung bên trong sẽ được thay đổi--></div>
    </body>
</html>
